<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="overlay">

 
  <!-- Overlay content -->
  <div id="overlay-content">
  </div>

</div>
<div class="container">
  <div class="page-header">
    <h1><img src="https://image.spreadshirtmedia.net/image-server/v1/designs/16272854,width=100,height=100/16272854.png16272854,width=250,height=250/16272854.png"> MuchoMatcho </h1>      
  </div>


<div class="row">
<div class="col-md-10">



<div id="content" style="display: none;">
<div class="row" id="movieGrid" >




</div>
<form class="form-inline" id="guessForm">
  <label  for="guessInput">Vorschlag: </label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="guessInput" name="guessInput" required> 





  <button type="submit" class="btn btn-primary">Senden</button>
  <div id="timer" style="display:inline;margin-left: 50px"></div>

</form>


<div class="panel panel-default pt-5">
  <div class="panel-heading">
    <h3 class="panel-title">Bisherige Vorschläge</h3>
  </div>
  <div class="panel-body list-group" id="guessList">
<ul>

</ul>


  </div>
</div>



</div>

</div>
<div class="col-md-2">

<div class="panel panel-default pt-5">
  <div class="panel-heading">
    <h3 class="panel-title">Highscores</h3>
  </div>
  <div class="panel-body list-group" >
<ul style=" list-style-type:none;">
<% highscores.forEach(function (highscore) { %>
    <li>  
        <%= highscore.Points %>
    </li>                                   
<% }) %>
</ul>



</div>
</div>

<div class="panel panel-default pt-5">
  <div class="panel-heading">
    <h3 class="panel-title">Anzahl Spieler</h3>
  </div>
  <div class="panel-body list-group" id="playerCount">


0

</div>
</div>
</div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>

var HOST  =window.location.hostname + (location.port ? ':'+location.port: '');
   var socket = io.connect(HOST);
   var overlay  = $("#overlay");
   var overlayContent = $("#overlay-content");
   var content = $("#content");
   var movieGrid = $("#movieGrid");
   var guessInput = $("#guessInput");
   var guessForm = $("#guessForm");
   var guessList = $("#guessList > ul");
   var timer = $("#timer");
   var playerCount = $("#playerCount");

      socket.on('totalPlayers', function(count){
        playerCount.html(count);
  });


   socket.on('waiting', function(){
        overlayContent.text("Waiting for player....");
    overlay.fadeIn();
  });

  socket.on('startGame', function(gameID){

    overlayContent.text("Match! Starting game with id " + gameID);

    setTimeout(function(){
      overlay.fadeOut();
      content.fadeIn();
      } , 1000);
   
  });

  socket.on('endGame', function(){
            overlayContent.text("Das Spiel wurde beendet. Lade neu...");

    overlay.fadeIn();

    socket.disconnect();


        setTimeout(function(){
      location.reload();
      } , 1000);


  })

socket.on('movies', function(movies){
  console.log(movies.length);

    movies.forEach(function(movie) {
      movieGrid.append('<div class="col-xs-6 col-md-4">\
    <div class="thumbnail">\
      <img src="'+movie.movie.poster_link+'" alt="">\
      <div class="caption">\
        <h3>"'+movie.movie.title+'"</h3>\
        <div class="panel-group">\
  <div class="panel panel-default">\
    <div class="panel-heading">\
      <h4 class="panel-title">\
        <a data-toggle="collapse" href="#'+movie.movie.movielens_id+'plot" class="accordion-toggle collapsed">Plot</a>\
      </h4>\
    </div>\
    <div id="'+movie.movie.movielens_id+'plot" class="panel-collapse collapse">\
      <div class="panel-body">'+movie.movie.plot+'</div>\
    </div>\
  </div>\
  <div class="panel panel-default">\
    <div class="panel-heading">\
      <h4 class="panel-title">\
        <a data-toggle="collapse" href="#'+movie.movie.movielens_id+'trailer" class="accordion-toggle collapsed">Trailer</a>\
      </h4>\
    </div>\
    <div id="'+movie.movie.movielens_id+'trailer" class="panel-collapse collapse">\
      <div class="panel-body">\
<iframe id="ytplayer" style="width:100%" type="text/html" \
  src="https://www.youtube.com/embed/'+movie.movie.trailer_youtube_id+'"\
  frameborder="0" allowfullscreen/>\
  </div>\
    </div>\
  </div>\
</div>\
      </div>\
    </div>\
  </div>')

});


    socket.on('wrongGuess', function(guess){

      guessList.append('<li class="list-group-item"> <span class="glyphicon glyphicon-remove" style="color:darkred;margin-right:10px;"></span>'+ guess +'</li>')
       var $t = guessList.parent();
    $t.scrollTop($t[0].scrollHeight);

    });


    socket.on('guessMatch', function(guess){

    overlayContent.html('Guess Match found!<br><br>' + guess +'<br>Score:100<br><br><button class="btn btn-primary btn-outline btn-lg" onclick="location.reload()">Neues Match...</button>');
    overlay.fadeIn();
    socket.disconnect();


    });

    socket.on('time',function(time){
      timer.html("Vergangene Zeit: " + time + " Sekunden")
    });


    guessForm.on("submit", function(e){
      e.preventDefault();
      

      socket.emit("makeGuess", guessInput.val());


        guessInput.val("");
    })



  });

</script>
</html>
